swagger: '2.0'
info:
  title: uspeak API
  description: Free speech for all
  version: 1.69.42
host: uspeak.io
schemes:
  - https
basePath: /api/v1
produces:
  - application/json
paths:
  /status:
    get:
      description: Returns the status of the current node
      responses:
        '200':
          description: Successfull Status Response
          schema:
            $ref: '#/definitions/StatusInfo'
  '/tangle/random':
    get:
      description: Get a list of random sites
      responses:
        '200':
          description: Results were found
          schema:
            title: results
            type: array
            items:
              $ref: '#/definitions/Site'
  '/tangle/{hash}':
    get:
      description: Returns the site with the specified hash
      parameters:
        - name: hash
          in: path
          type: string
          required: true
          description: Base64 encoded hash of the site
      responses:
        '200':
          description: Site was found
          schema:
            $ref: '#/definitions/Site'
        '404':
          description: No site found
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Create a new site
      consumes:
        - application/json
      parameters:
        - name: hash
          in: path
          type: string
          description: 'Actually the type of the site to add. Stupid swagger limitations...'
          required: true
        - in: body
          name: body
          description: Site object to be added
          required: true
          schema:
            $ref: '#/definitions/Site'
      responses:
        '201':
          description: Site was created
        '400':
          description: Invalid nonce
  /search:
    get:
      description: Queries for sites
      parameters:
        - in: query
          name: q
          description: Text to perform a full-post search for
          type: string
      responses:
        '200':
          description: Results were found
          schema:
            title: results
            type: array
            items:
              $ref: '#/definitions/Site'
               
definitions:
  StatusInfo:
    type: object
    properties:
      address:
        type: string
        description: Hostname/IP of the node serving this information
      version:
        type: string
        description: Version Identifier of the running node.
      length:
        type: integer
        description: Count of sites this node stores
      connections:
        type: array
        items:
          type: string
        description: List of nodes this one is connected to
  Site:
    type: object
    properties:
      hash:
        type: string
        description: Base64 encoded hash of the site
      bubblebabble:
        type: string
        description: Bubblebabble encoded hash of the site
      validates:
        type: array
        items:
          type: string
        description: Base64 encoded hashes of the sites which this site validate
      type:
        type: string
        description: Type of the stored data (Post/Image)
      content:
        type: string
        description: Hashed site content
      weight:
        type: integer
        description: Count of sites validating (directly or indirectly) this site
      nonce:
        type: integer
        description: Calculated nonce
      data:
        type: object
        description: Object specific schema
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
